<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WS.SDK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WS.SDK.Properties.Settings>
            <setting name="WS_SDK_WxService_ReservationService" serializeAs="String">
                <value>http://122.226.235.163:20001/PMSDataInterface/ReservationService/</value>
            </setting>
        </WS.SDK.Properties.Settings>
    </applicationSettings>
</configuration>