<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="yuding.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- 系统日志保存路径-->
    <add key="LogFilePath" value="E:\zzhprojects\log\预订" />
    <!-- 是否写日志-->
    <add key="LogIsWrite" value="false" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="2147483647" appRequestQueueLimit="60" executionTimeout="60" />
  </system.web>
  <connectionStrings>
    <add name="yudingEntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=yuding;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MPDBEntities" connectionString="metadata=res://*/Model.Model2.csdl|res://*/Model.Model2.ssdl|res://*/Model.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-ERRJS8PCHBI\KS;initial catalog=MPDB;user id=sa;password=Ks8848447;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <yuding.Properties.Settings>
      <setting name="yuding_net_kuaishun_fx_SendSms" serializeAs="String">
        <value>http://fx.kuaishun.net/Sms/WebService/SendSms.asmx</value>
      </setting>
      <setting name="yuding_net_kuaishun_ticketmk_Service" serializeAs="String">
        <value>http://ticketmk.kuaishun.net/service.asmx</value>
      </setting>
    </yuding.Properties.Settings>
  </applicationSettings>
</configuration>